.container1{
    max-width: 100% !important;
    width: 100%;
    padding: 0;
}

.container{
    margin: 60px ;
}

.page-item.active .page-link {
    background-color: #007bff; /* Cambia esto por el color de fondo deseado */
    color: #fff; /* Cambia esto por el color de texto deseado */
  }